$nav-size:2em;
$back-grey:#252f3b;
body{
  margin: 0px;
  background-color:$back-grey;
  overflow-x: hidden;
}
nav{
  padding-left: 3%;
  padding-right: 3%;
  color: gray;
  height:$nav-size;
}
.initiales{
  display: inline;
}
span .nom{
  display: inline-block;
}
.nom{
  /* display:none; */
  transform: scale(0,1);
  width: 0px;
  transition:width 1s,transform 1.2s;
}
/* .initiales:hover ~ .nom{
  display: inline;
} */
.nom-show{
  display: inline-block;
  transform: scale(1,1);
  transition:width 1s,transform 1.2s;
  /* transition:  */
  width:45.328px;
  width:3em; 
}
.left-menu{
  float: left;
  font-family: 'Lilita One','monospaced';
  font-size: $nav-size;
}
.left-menu > * ,.nom-complet > *{ /* to delete space between words */
  float: left;
}
.right-menu{
  float: right;
  text-decoration: underline;
  span{
    margin-left: 5px;
  }
  .selected{
    font-weight: bold;
  }
}

.profile{
  margin:0% 5% 0% 5%;
  margin-top:$nav-size;
  color:#989898;
}
.photo{
  width: 50%;
  background-image: url("../img/profil.jpg");
  background-size: cover;
  width: 350px;
  height:350px;
  border-radius: 100%; 
}
.contact{
  float:left;
  ul{
    list-style: none;
  }
}
.bio{
  width: 32%;
  float: right;
  text-align: center;
  margin-right: 16%;
  margin-top: 4%;
  display: inline-block;
}

$sect-heigh:345px;

%inclined{
  content: ' ';
  width: 6%;
  height: 380px;
  position: absolute;
  background-color: $back-grey;
  margin: 0 auto;
  /* border-radius: 68%; */
  margin-left: 42%;
  margin-top: -22px;
  // transform: rotateZ(7deg);

}
.inclined-left::before{
  @extend %inclined;
  transform: rotateZ(7deg);
}
.inclined-right::before{
  @extend %inclined;
  transform: rotateZ(-7deg);
}
section{
  width: 90%;
  display: inline-block;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  height:$sect-heigh;
  color: white;

}
$blue:#00276c 1%, #6b9cc4 10%, #728194 78%;
$red:#11064e 5%, #565ea2 9%, #c15a59 98%;
.blue{
  background: linear-gradient(to left,$blue);

}
.red{
  background: linear-gradient(to right, $red);
}
.description{
  height:$sect-heigh;
  line-height: 30px;
}
section div:nth-child(1){
  float:left;
  width: 50%;
}
section div:nth-child(2){
  float: right;
  width:50%;
}
section .img{
  float: left;
  height:100%;
  background-size: cover;
  background-position: center;
}
section .description{
  width: 50%;
  float: right;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
.description p{
  padding: 10%;
  padding-top: 10%;;
}
@media screen and (max-width:750px){
  .contact{
    float: none;
    width: fit-content; 
    margin: 0 auto;
  }
  .bio{
    float: none;
    margin: 0 auto;
    width: 50%;
    display: block; //for centering
  }
  .inclined-left::before,.inclined-right::before{
    transform:rotateZ(90deg) scale(1.5);
    // margin-top:22vh;
    clip-path: polygon(50% 80%, 100% 53%, 20% 0, 3% 0, 0 80%);
    margin-top: 0%;
    height: 100%;
    width: 5%;
  }
  section{
    height: 100vh;
    div:nth-child(1){
      width: 100%;
      height: 50vh;
    }
    div:nth-child(2){
      width:100%;
      height: 50vh;
    }
    .img{
      height:50vh;
    }
    .description{
      height: 50vh;
      line-height: 30px;
    }
  }
  .blue{
    background: linear-gradient(to top,$blue);
  }
  .red{
    background: linear-gradient(to bottom,$red);
  }
}