$nav-size:2em;

body{
  margin: 0px;
}
nav{
  padding-left: 3%;
  padding-right: 3%;
  color: gray;
  height:$nav-size;
}
.initiales{
  display: inline;
}
span .nom{
  display: inline-block;
}
.nom{
  /* display:none; */
  transform: scale(0,1);
  width: 0px;
  transition:width 1s,transform 1.2s;
}
/* .initiales:hover ~ .nom{
  display: inline;
} */
.nom-show{
  display: inline-block;
  transform: scale(1,1);
  transition:width 1s,transform 1.2s;
  /* transition:  */
  width:45.328px;
  width:3em; 
}
.left-menu{
  float: left;
  font-family: 'Lilita One', cursive;
  font-size: $nav-size;
}
.left-menu > * ,.nom-complet > *{ /* to delete space between words */
  float: left;
}
.right-menu{
  float: right;
  /* margin-right: 5%; */
}

.profile{
  margin:0% 5% 0% 5%;
  margin-top:$nav-size;
}
.photo{
  width: 50%;
  background-image: url("../img/profil.jpg");
  background-size: cover;
  width: 350px;
  height:350px;
  border-radius: 100%; 
}
.contact{
  float:left;
  ul{
    list-style: none;
  }
}
.bio{
  width: 50%;
  float: right;
  text-align:center;
}

$sect-heigh:345px;

%inclined{
  content: ' ';
  width: 6%;
  height: 380px;
  position: absolute;
  background-color: white;
  margin: 0 auto;
  /* border-radius: 68%; */
  margin-left: 42%;
  margin-top: -22px;
  // transform: rotateZ(7deg);

}
.inclined-left::before{
  @extend %inclined;
  transform: rotateZ(7deg);
}
.inclined-right::before{
  @extend %inclined;
  transform: rotateZ(-7deg);
}
section{
  width: 90%;
  display: inline-block;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  height:$sect-heigh;

  background-color: #000000;
  color: white;
  // background: linear-gradient(to right, rgb(0, 39, 108) 1%,rgba(107,156,196,1) 51%,rgb(114, 129, 148) 94%);
  // background: linear-gradient(to right, rgb(0, 39, 108) 1%,rgb(158, 14, 14) 51%,rgb(27, 34, 99) 94%);
}
.blue{
  background: linear-gradient(to left, #00276c 1%, #6b9cc4 10%, #728194 78%);

}
.red{
  background: linear-gradient(to right, #11064e 5%, #565ea2 9%, #c15a59 98%);
}
.description{
  height:$sect-heigh;
  line-height: 30px;
}
section div:nth-child(1){
  float:left;
  width: 50%;
}
section div:nth-child(2){
  float: right;
  width:50%;
}
section .img{
  float: left;
  height:100%;
  background-size: cover;
}
section .description{
  width: 50%;
  float: right;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
.description p{
  padding: 10%;
  padding-top: 10%;;
}